body {
	font-family: 'Indie Flower', cursive;
	letter-spacing: .2em;
	text-align: center;
	background-color: rgb(240, 260, 220);
}

#container {
	width: 60%;
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
}

.git {
	position: absolute;
	clear: both;
	margin-left: auto;
	right: 10px;
}

.github {
	background: url("../assets/github-logo.png");
	position: relative;
	width: 36px;
	background-repeat: no-repeat;
	height: 36px;
	float: right;
}

.index > span {
	display: inline-block;
}

.index > p {
	display: inline-block;
}

.delete{
	color: red;
	margin-left: 1%;
	margin-top: 15px;
	cursor: pointer;
}

.word {
	cursor: pointer;
}

.outer {
	margin-bottom: 100px;
}

.title {
	width: 60%;
	max-width: 250px;
	margin: 0 auto;
}

.title > h1 {
	/*color: rgb(0, 200, 100);*/
}

.title > p {
	color: rgb(0, 250, 150);
}

.index-container > p {
	width: 60%;
	max-width: 250px;
	margin: 0 auto;
	color: rgb(0, 250, 150);
}

.word-input {
	text-align: center;
	
}

#star {
	font-size: 20px;
}