/*background*/
body {
	font-family: 'Indie Flower', cursive;
	letter-spacing: .2em;
	text-align: center;
	background-color: rgb(251, 177, 97);
}
/*title font*/

.title > h1 {
	color: rgb(120, 165, 172);
	font-size: 3.7em;
}

#container {
	width: 60%;
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	color: rgb(159, 93, 65);
}

.git {
	position: absolute;
	top: 0;

}

.title {
	position: relative;
}
		

.github {
	position: absolute;
	background: url("../assets/github-logo.png");
	width: 36px;
	background-repeat: no-repeat;
	height: 36px;
	background-size: 15px;
}

.index > span {
	display: inline-block;
}

.index > p {
	display: inline-block;
}

.delete{
	color: red;
	margin-left: 1%;
	margin-top: 15px;
	cursor: pointer;
}


.word {
	cursor: pointer;
	font-size: 20px;
}

.outer {
	margin: 100px 0 100px 0;
	position: relative;
}

/*saved word*/
.index-container > h3 {
	color: rgb(159, 93, 65);
	font-weight: 900;
	font-size: 1.7em;
}
/*info font*/
.info {
	font-size: 14px;
	width: 60%;
	max-width: 250px;
	margin: 0 auto 30px auto;
	color: rgb(239, 65, 86);
}

.word-input {
	text-align: center;
	height: 27px;
}

.word-submit {
	background-color: rgb(120, 165, 172);
	color: rgb(251, 177, 97);
}
#star {
	font-size: 40px;
	cursor: pointer;
	color: rgb(120, 165, 172);
}


/*word and definitions font colors*/
.word {
	color: rgb(159, 93, 65);
}

.definitions {
	color: rgb (159, 93, 65);
}

/*buttons bg+font*/
.saved-words {
	background-color: rgb(120, 165, 172);
	color: rgb(251, 177, 97);
}

.lookup-words {
	background-color: rgb(120, 165, 172);
	color: rgb(251, 177, 97);
}

.lookup-container > h4 {
	color: rgb(159, 93, 65);
	font-size: 1.7em;
}

.show-container > h3 {
	color: rgb(159, 93, 65);
}