extends layout

block content
	h1 the dictionary
	h4 Look up a word
	div.lookup-container()
		input.word-input(ng-model="word.query" placeholder="look up a word...")
		button.word-submit(ng-click="word.lookup()" class="btn btn-danger-outline btn-lg") search
	div#container
		

