extends layout

block content
	div.outer
		div.git
			a.github(href="https://github.com/Yoreee/dictionary")
		h1 awesome words
		h4 Look up a word

		div.lookup-container()
			input.word-input(ng-model="word.query" placeholder="type a word...")
			button.word-submit(ng-click="word.lookup()") search
		div#container
			h3 {{word.term}}
			div#definition(ng-repeat="w in word.repeatData")
				p {{w.value + "."}} {{w.data.text}}
			button.save(ng-click="word.save()") save
