body {
	width: 100%;
	margin: 0 auto;
	padding: 0 auto;
}

.outer {
	text-align: center;
}

.word-input {
	margin-right: 10px;
	height: 48px;
	padding-left: 10px;
	font-size: 20px;
	border-radius: 5px;
	outline: none;
}

.lookup-container {
	margin-top: 20px;
	display: inline-block;
}

.word-submit {
	display: inline-block;
	position: absolute;
	border-radius: 5px;
	height: 52px;
}

.git {
	position: absolute;
	clear: both;
	margin-left: auto;
	right: 10px;
}

.github {
	background: url("../assets/github-logo.png");
	position: relative;
	width: 36px;
	background-repeat: no-repeat;
	height: 36px;
	float: right;
}

#container {
	width: 60%;
	max-width: 300px;
	margin: 50px auto 0 auto;
	text-align: center;
}

#container > h4 {
	/*position: relative;*/
	text-align: left;
}

#definition {
	/*position: relative;*/
}


